<div id="<%= dom_id profile %>">
  <h2><%= profile.user.username %> (<%= profile.name %>)</h2>
  <%= image_tag profile.avatar.url, width: 100 if profile.avatar.present? %>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
