<% content_for :title, @program.name %>

<p style="color: green"><%= notice %></p>

<h2><%= render @program %></h2>

<div>
  <%= link_to "Редактировать", edit_program_path(@program) %> |
  <%= link_to "Программы", programs_path %> | 
  <%= link_to @program.faculty.name, @program.faculty %> | 
  <%= link_to "Факультеты", faculties_path %>


  <%= button_to "Destroy this program", @program, method: :delete %>
</div>
