<div id="<%= dom_id event %>">
  <p><%= event.user.username %></p>
  <% if !event.nil? %>
    <p>Индивидуальное событие</p>
  <% else %>
    <p><%= event.community.title %></p>
  <% end %>
  <h2><%= event.title %></h2>
  <%= image_tag event.cover.url, class: 'A_EventCover' %>
  <p><%= event.body %></p>
</div>
