<% set_meta_tags(
  title: "События",
  description: "Все события Вышки для студентов и работников университета",
  keywords: "События, Мероприятия, Ивенты, Тусовки, Вышка, НИУ ВШЭ, ВШЭ" )%>

<% content_for :title, "События" %>

<h1>Твои события (<%= @user_events.count if @user_events.present? %>)</h1>
<% if @user_events.present? %>
  <div class="C_EventsAndMeets">
    <% @user_events.each do |user_event| %>
      <%= link_to event_path(user_event), class: 'M_EventCard' do %>
        <%= user_event.hosted_at.strftime("%d/%m/%Y %H:%M") %>
        <%= render user_event %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>You have no events.</p>
<% end %>

<h1>События (<%= @events.count %>)</h1>
<div class="C_EventsAndMeets">
  <% @events.each do |event| %>
    <%= link_to event_path(event), class: 'M_EventCard' do %>
      <%= event.hosted_at.strftime("%d/%m/%Y %H:%M") %>
      <%= render event %>
    <% end %>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>