<% set_meta_tags(
  title: "События",
  description: "Все события Вышки для студентов и работников университета",
  keywords: "События, Мероприятия, Ивенты, Тусовки, Вышка, НИУ ВШЭ, ВШЭ" )%>

<% content_for :title, "События" %>

<h1>События (<%= @events.count %>)</h1>

<%= render 'tags/filter' %>

<div class="C_EventsAndMeets">
  <% @events.each do |event| %>
    <div class="M_EventCard">
      <%= link_to event_path(event) do %>
        <%# event.hosted_at.strftime("%a %d/%m/%Y %H:%M") %>
        <%= I18n.localize(event.created_at.to_time, format: :myformat, :locale => :ru)  %>
        <%= render event %>
      <% end %>
      <%= event.favourites.count %>
      <div class="C_Tags">
        <% event.tags.each do |tag| %>
          <%= link_to tag.name, by_tag_events_path(category: tag.name, tag: params[:tag]), class: 'A_Tag' %>
        <% end %>
      </div>
      <div class="C_Tags">
        <% event.categories.each do |tag| %>
          <%= link_to tag.name, by_tag_events_path(tag: tag.name, category: params[:category]), class: 'A_Tag' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>