<p style="color: green"><%= notice %></p>

<% content_for :title, "События" %>

<h1>События</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= link_to event_path(event), class: 'M_EventCard' do %>
      <%= render event %>
      <p><%= event.created_at %></p>
    <% end %>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
