<%= form_with(model: meet) do |form| %>
  <% if meet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meet.errors.count, "error") %> prohibited this meet from being saved:</h2>

      <ul>
        <% meet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :hosted_at, style: "display: block" %>
    <%= form.datetime_field :hosted_at, min: Date.today %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>  

  <%# Теги %>
  <div>
    <label for="tags">Теги</label>
    <% Tag.tags_list.each do |tag| %>
      <div class="form-check">
        <%= check_box_tag "meet[tag_list][]", tag.name, false, class: 'form-check-input', id: "meet_tag_list_#{tag.name}" %>
        <%= label_tag "meet_tag_list_#{tag.name}", tag.name, class: 'form-check-label', for: "meet_tag_list_#{tag.name}" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
