<% set_meta_tags( 
  title: "Встречи",
  description: "Студенческие встречи в Вышке", 
  keywords: "Студорги, Студенческие организации, События, Встречи, Мероприятия, Ивенты, Тусовки, Вышка, НИУ ВШЭ, ВШЭ" )%>

<h1>Встречи (<%= @meets.count %>)</h1>
<div class="C_EventsAndMeets">
  <% @meets.each do |meet| %>
    <div class="M_MeetCard>
      <%= link_to meet_path(meet) do %>
        <%= render partial: 'meets/meet_card', locals: { meet: meet } %>
      <% end %>
      <div class="C_Tags">
        <% meet.tags.each do |tag| %>
          <%= link_to tag.name, tagged_meets_path(tag.name), class: 'A_Tag' %>
        <% end %>
      </div>
      <%# Список последних 3 откликнувшихся %>
      <% if meet.responses.any? %>
        <h3>Отклики от:</h3>
        <div class="C_Avatars">
          <% meet.responses.includes(user: :profile).last(3).each do |response| %>
            <%= link_to profile_path(response.user.profile) do %>
              <%= image_tag response.user.profile.avatar.url, class: "A_Avatar" if response.user.profile.avatar.present? %>
            <% end %>
          <% end %>
          <% if meet.responses.count > 3 %>
            <%= "+#{ meet.responses.count-meet.responses.includes(user: :profile).last(3).count }" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New meet", new_meet_path %>