<% set_meta_tags( 
  description: @meet.body, 
  keywords: "Студорги, Студенческие организации, События, Мероприятия, Ивенты, Тусовки, Вышка, НИУ ВШЭ, ВШЭ" )%>

<%= turbo_frame_tag dom_id(@meet) do %>
  <%= render @meet %>
    <div>
    <%= link_to "Edit this meet", edit_meet_path(@meet) %> |
    <%= link_to "Back to meets", meets_path %>

    <%= button_to "Destroy this meet", @meet, method: :delete %>
  </div>
<% end %>
<%= render "favourite/button", favouriteable: @meet %>
<%= render "response/button", responseable: @meet %>

<%# Список лайкнувших %>
<% if @meet.favourites.any? %>
  <%# Лайкнувшие %>
  <h3>Лайки от:</h3>
    <% @meet.favourites.includes(:user).each do |favourite| %>
      <%= favourite.user.profile.name %>
    <% end %>
<% else %>
  <p>Никто не лайкнул</p>
<% end %>

<%# Список откликнувшихся %>
<% if @meet.responses.any? %>
  <%# Откикнувшиеся %>
  <h3>Отклики от:</h3>
    <% @meet.responses.includes(:user).each do |response| %>
      <%= response.user.profile.name %>
    <% end %>
<% else %>
  <p>Никто не откликнулся</p>
<% end %>

<% if user_signed_in? %>
  <h2>Добавить комментарий:</h2>
  <%= render "comments/form", comment: Comment.new, commentable: @meet %>
<% end %>

<%= turbo_stream_from @meet, :comments %>

<h2>Комментарии:</h2>
<div id="C_Comments">
  <% @meet.comments.no_replies.each do |comment| %>
    <div class="M_Comment">
      <%= render "comments/comment", comment: comment, commentable: @meet %>
    </div>
  <% end %>
</div>