<nav class="S_Menubar">
  <div>
    <%= link_to "Главная", root_url %>
    <%= link_to "События", events_url %>
    <%= link_to "Встречи", meets_url %>
    <%= link_to "Архив событий", archive_events_url %>
    <%= link_to "Сообщества", communities_url %>
  </div>
  
  <div>
    <%= render "search_form" %>
    <% if user_signed_in? %>
      <%= link_to current_user.profile.name, profile_path(current_user.profile) %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %>
    <% else %>
      <%= link_to "Войти", new_user_session_path %>
      <%= link_to "Зарегистрироваться", new_user_registration_path %>
    <% end %>
  </div>
</nav>

<div>
  <% if user_signed_in? && current_user.role == "admin" %>
    <%= link_to "Сообщества админа", admin_communities_url %>
    <%= link_to "Факультеты", admin_faculties_url %>
    <%= link_to "Программы", admin_programs_url %>
    <%= link_to "Профили", profiles_url %>
    <%= link_to "Подписки на рассылку", admin_email_subscriptions_url %>
  <% end %>
</div>