<nav class="S_Menubar">
    <%= link_to "Главная", root_url %>
    <%= link_to "О проекте", welcome_about_url %>
    <%= link_to "События", events_url %>
    <%= link_to "Архив событий", archive_events_url %>
    <%= link_to "Факультеты", faculties_url %>
    <%= link_to "Программы", programs_url %>
</nav>