<div id="<%= dom_id community %>">
  <p><%= community.user_id %></p>
  <p><%= community.cover %></p>
  <h2><%= community.title %></h2>
  <p><%= community.body %></p>
  <p><%= community.link %></p>
</div>
