<div class='communityAutocomplete' id="<%= dom_id community %>">
  <p><%= community.user.username %></p>
  <%= image_tag community.cover.url, class: 'A_CommunityCover' %>
  <h2><%= community.title %></h2>
  <p><%= community.body %></p>
  <p><%= community.contact %></p>
</div>
